# Python cache

__pycache__/
*.pyc


# Virtual environments

venv/
.env/


# Logs

logs/
*.log


# Temporary encrypted files

files/*.encrypted*
files/*.decrypted


# Encryption keys and certificates

keys/


# IDE settings

.vscode/